SUPABASE_URL=https://dqlefeafzvjberhjqdps.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxbGVmZWFmenZqYmNyaHFoZHBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNzQ1NjQsImV4cCI6MjA5Njc1MDU2NH0.NQhKxuZxQpbj9q_dzg5Fnn6P795Pt27VOkzXB3XFQJ8
